*.class
/18_UIBuscaminas/nbproject/private/
/18_UIBuscaminas/build/
/JavaApplication2/nbproject/private/
/ConexionBaseDatos/nbproject/private/
/ConexionBaseDatos/build/
/20 - Registro Usuarios2/build/
/20 - Registro Usuarios2/nbproject/private/
/21-FacturadorCompleto/nbproject/private/
/21-FacturadorCompleto/build/
/24-Biblioteca/nbproject/private/
/24-Biblioteca/build/
